{% extends 'base.html.twig' %}

{% block title %}CSS - myCodeCheatSheets();{% endblock %}


{% block body %}
<main>
    <div class="cover-container wip-box">
        <div class="row">
            <a class="btn btn-outline-warning btn-lg" id="espBtn" href="{{ path('cs') }}" role="button">Revenir en arrière</a>
            <img src="{{ asset('assets/img/wip-bg.png') }}" alt="" width="90%">
        </div>
    </div>
</main>
    
{% endblock %}
